<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record model='ir.actions.act_window' id='fleet_vehicle_expiration_act'>
            <field name="name">Venicimientos</field>
            <field name="res_model">fleet.vehicle.expiration</field>
            <field name="view_type">form</field>
            <field name="view_mode">calendar,tree,form</field>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click para crear una nueva entrada de vencimiento para un vehiculo.
              </p><p>
                Podra visualizar la los vencimientos en la vista de calendario.
            </p>
            </field>
        </record>

        <menuitem action="fleet_vehicle_expiration_act" 
					parent="fleet.fleet_vehicles" 
					id="fleet_vehicle_expliration_menu"/>
        
        
    </data>
</openerp>
